
@{
    ViewBag.Title = "Carrito";
}



<h2>Pedido #351353</h2>

<div id="tabla-pedidos"></div>



<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Custom/pedidos.js"></script>