@{
    ViewBag.Title = "Carrito";

}



<div class="row col-sm-6">

    <h3 class="col-sm-4 text-right">Pedido Nº:</h3>
    <input id="txtIdPedido" type="text" value="@ViewBag.idPedido" readonly class="form-control col-sm-2" />
</div>


<div id="tabla-detalle-pedidos"></div>


<div class="container">
    <div class="row">
        <div class="col">
            <label>Observaciones:</label>
            <textarea id="txtObservacion" class="form-control" rows="3"></textarea>
        </div>
        <div class="col">
            <br /><br /><br />
            <button class="btn btn-info">Seguir comprando</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success">Completar Pedido</button>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/carrito.js"></script>
