
@{
    ViewBag.Title = "Carrito";
}



<h2>Pedido #</h2>

<div id="tabla-detalle-pedidos"></div>

<div id="heredero"></div>


<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Custom/carrito.js"></script>