
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>Usuario: </label>
<input id="txtUsuario" class="form-control" type="text" value="" />
<br />
<br />
<label>Clave: </label>
<input id="txtClave" class="form-control" type="text" value="" />

<br />
<br />
<button type="submit" class="btn btn-success">Enviar</button>


<script src="~/Scripts/Custom/test.js"></script>