
@{
    ViewBag.Title = "ABM";
}


<link href="~/Content/datatables.min.css" rel="stylesheet" />
<h2>ABM de Usuarios</h2>

@*DESDE EL SCRIPT SE GENERA UNA TABLA*@
<div id="tabla-usuarios"></div>


<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/Custom/usuariosScript.js"></script>